@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #2D2D2D; /* Cinza escuro */
    --cor-secundaria: #FFFFFF; /* Branco */
    --cor-terciaria: #FF6768; /* Vermelho coral */
    --cor-hover: #4C4C4C; /* Cinza mais escuro para hover */
    --fonte-principal: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: var(--font-size-base);
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    background-image: url('cadeado.jpg');
    background-size: cover;
}

.cabecalho {
    padding: 2% 0% 0% 15%;
    font-size: 1rem;
    font-family: var(--fonte-secundaria);
}

.cabecalho__menu {
    display: flex;
    gap: 70px;
}

.cabecalho__menu__link {
    font-family: var(--cor-secundaria);
    width: 200px;
    font-size: 1.5rem;
    color: cornflowerblue;
    text-decoration: none;
}

.apresentacao {
    padding: 1% 0%;
}

.apresentacao__conteudo {
    width: 50%;
}

.titulo_alura {
    color: aqua;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-principal);
}

.apresentacao__conteudo__paragrafo {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    padding: 2% 0%;
}

.apresentacao__conteudo__mensagem {
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
    color: var(--cor-terciaria);
}
.apresentacao__conteudo__mensagem__imagem{
    width: 20px;
}

.apresentacao__conteudo__textarea {
    font-family: var(--fonte-secundaria);
    font-size: 1.25rem;
}

.botoes {
    display: flex;
    width: 100%;
    margin-top: 20px;
    padding: 1% 5%;
}

.apresentacao__conteudo__botao {
    background-color: #4CAF50; /* Verde */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    transition-duration: 0.4s;
}

.botao-invalido {
    background-color: grey;
    color: white;
}

.apresentacao__conteudo__botao:hover {
    background-color: #45a049; /* Verde mais escuro */
    color: white;
}

.apresentacao__conteudo__resultado {
    margin-top: 10px;
    font-family: var(--fonte-secundaria);
    font-size: 1.25rem;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--cor-secundaria);
    font-weight: 400;
    font-size: 1.5rem;
    padding: 2% 0%;
}

.apresentacao__links_imagem {
    padding: 0% 2%;
    width: 50px;
}

.rodape {
    position: fixed;
    bottom: 0;
    color: var(--cor-secundaria);
    font-size: 1.5rem;
    font-family: var(--cor-secundaria);
    width: 400px;
}

@media (max-width: 800px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 7%;
    }

    .apresentacao__conteudo {
        width: auto;
    }
}

.mensagem-invalida {
    color: red;
}

.botao-invalido {
    background-color: grey;
    color: white;
}
